body{
	color: black;
	font-family: Arial;
	margin: auto;
	background-color: #DCDCDC;
}

nav{
	background-color:#FF0000;
	border-bottom:1px black solid;
	margin-top: auto;
	margin-bottom:auto;
}

nav button{
	color: #ffffff;
	font-size: 20px;
	list-style-type: none;
	text-decoration: none;
	background-color: #FF0000;
	font-weight: bold;
	padding: 10px;
	border-color :white;
	transition: 0.3s all;
	display: inline-block;
}

nav img{
	width: 119px;
	height: 106px;
}

div.contenu{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 50px;
	margin-right: 50px;
	border:2.5px red solid;
	border-radius: 25px;
	background-color: white;
}

p{
	margin-left: 10px;
	margin-right:10px;
}

h1{
	display: inline-block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	border: 2px black solid;
	border-radius: 10px;
	background-color: FF0000;
	color:white;
	box-shadow: 6px -6px 0px black;
	margin-left: 10px;
}

h2{
	display: inline-block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	border: 2px black solid;
	border-radius: 10px;
	background-color: FF0000;
	color:white;
	box-shadow: 6px -6px 0px black;
	margin-left: 10px;
}

h3{
	display: inline-block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	border: 2px black solid;
	border-radius: 10px;
	background-color: FF0000;
	color:white;
	box-shadow: 6px -6px 0px black;
	margin-left: 10px;
}

a {
	color : red;
}

a.sitelycee{
	display: inline-block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	border: 2px black solid;
	border-radius: 10px;
	background-color: FF0000;
	color:white;
	box-shadow: 6px -6px 0px black;
	margin-left: 10px;
}
